<figure class="attachment attachment--content attachment--og">
  <actiontext-opengraph-embed>
    <div class="og-embed gap">
      <div class="og-embed__content">
        <div class="og-embed__title">
          <%= link_to truncate(opengraph_embed.filename, length: 280, omission: "…"), opengraph_embed.href, rel: "noreferrer", target: "_blank" %>
        </div>
        <div class="og-embed__description"><%= truncate(opengraph_embed.caption, length: 560, omission: "…").html_safe %></div>
      </div>
      <% if opengraph_embed.url %>
        <div class="og-embed__image">
          <%= tag.img src: opengraph_embed.url, class: "image center", alt: "" %>
        </div>
      <% end %>
    </div>
  </actiontext-opengraph-embed>
</figure>
