<% @page_title = "Edit settings for #{room.name}" %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back_to_last_room_visited %>
  </div>
<% end %>

<section class="panel txt-align-center" style="view-transition-name: edit-room-<%= room.id %>">
  <%= yield %>
</section>

<% if Current.user.can_administer?(@room) %>
  <section class="panel txt-align-center">
    <%= button_to_delete_room room %>
  </section>
<% end %>
