<turbo-frame id="composer-frame">
  <span class="composer__input input input--actor shake margin-block-end txt-negative txt-align-center" style="--input-border-color: var(--color-negative)">
      <span>This room was deleted.</span>
  </span>
</turbo-frame>
