<% @page_title = platform.apple_messages? ? "Campfire" : "Unsupported browser" %>

<div class="panel center">
  <header>
    <h1 class="txt-x-large txt-tight-lines txt-align-center margin-none-block-start margin-block-end">
      Upgrade to a supported web browser
    </h1>
    <div class="flex align-start gap">
      <%= translation_button(:incompatible_browser_messsage) %>
      <p class="margin-none-block-start">Campfire requires a modern web browser. Please use one of the browsers listed below and make sure auto-updates are enabled.</p>
    </div>
  </header>

  <div class="browser-list flex align-center flex-wrap gap justify-center margin-block">
    <% AllowBrowser::VERSIONS.each do |browser, version| %>
      <% next unless version %>

      <div class="browser flex flex-column">
        <%= image_tag "browsers/#{browser}.svg", aria: { hidden: "true" }, class: "center" %>
        <div class="flex flex-column align-center margin-block-start-half">
          <strong><%= browser.capitalize %></strong>
          <span> <%= version %>+</span>
        </div>
      </div>
    <% end %>
  </div>
</div>
