<li class="flex align-center gap margin-none" data-value="<%= user.name.downcase %>">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <%= avatar_tag user, loading: :lazy %>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong><%= user.name %></strong></div>
  </div>

  <hr class="separator" aria-hidden="true">

  <% if Current.user.can_administer?(room) %>
    <%= image_tag "check.svg", size: 20, class: "colorize--black flex-item-no-shrink", aria: { hidden: "true" } %>
  <% end %>
</li>
