# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/
/.git*

# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
!/.env.example

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/
!/storage/.keep

# Ignore development credentials
/config/credentials.yml.enc

# Ignore deployment files
/config/deploy*.yml
/bin/deploy
/bin/deploy-*
/bin/release

# Ignore master.key (should be set in environment)
/config/master.key

# Ignore editor noise
/.vscode

# Ignore ignore
.dockerignore

# Ignore test files
/test/
