html {
  overscroll-behavior: none;
}

body {
  --footer-height: calc(var(--block-space) + 3.6em + var(--block-space));

  display: flex;
  flex-direction: column;
  min-block-size: 100dvh;
}

#main-content {
  align-content: start;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

#footer {
  margin-top: auto;
}
