<% if owner = User.administrator.first %>
  <div class="txt-align-center margin-block-double full-width">
    <%= link_to "mailto:\"#{owner.name}\" <#{owner.email_address}>", class: "btn center", title: "Email #{owner.name}" do %>
      <%= image_tag "lifebuoy.svg", aria: { hidden: "true" } %>
      <span><%= owner.email_address %></span>
    <% end %>

    <div class="txt-align-center center margin-block txt-subtle">Campfire&trade; version <%= version_badge %></div>
  </div>
<% end %>
